<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

<style>
.footer {
    position: bottom;
    height: 55px;
    bottom: 0;
    color:#fff;
    padding-top:20px;
    margin-bottom: 0;
    width: 100%;
    background: #00003E; 
    background: -webkit-linear-gradient(to right, #31BDE6, #00003E);  
    background: linear-gradient(to right, #31BDE6, #00003E); 
    text-align:center;
}
</style>
</head>
<body>
    <footer class="footer">
      <div class="container-fluid">
      <p><img src="favicon.ico"> AJIO | Privacy Policy | Terms of Service</p>
      </div>
    </footer>


</body>
</html>

