<nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#" style="color:white"><img src="favicon.ico"></a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#" style="color:white;font-size:18px;">HOME</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" style="color:white;font-size:18px;" routerLink="/productarray" >SHOPING</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link"  *ngIf="!isLogin.f" href="#" routerLink="/login" style="color:white;font-size:18px;" >LOGIN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#" routerLink="/signup" style="color:white;font-size:18px;" >SIGNUP</a>
      </li>
      <li class="nav-item">

          <a class="nav-link " *ngIf="isLogin.f"  href="#" routerLink="/usercart" style="color:white;font-size:18px;"> MY CART</a>
        </li>
      <li class="nav-item">

        <a class="nav-link "  href="#" *ngIf="isLogin.f" routerLink="/addtoproduct" style="color:white;font-size:18px;"> ADD PRODUCT</a>
      </li>
      <li class="nav-item">
        <a (click)="fun()" *ngIf="isLogin.f" class="nav-link " href="#" routerLink="/home" style="color:white;font-size:18px;">LOGOUT</a>
      </li>
      <li class="nav-item">
        <a  *ngIf="isLogin.f" class="nav-link " href="#" routerLink="/orderHistory" style="color:white;font-size:18px;">ORDER HISTORY</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" style="color:white;font-size:18px;" placeholder="Search">
      <button class="btn btn-danger my-2 my-sm-0" type="submit" style="color:white">Search</button>
    </form>
  </div>
</nav>
